---
const personalImageAlt = "Juan Forero";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Juan Forero, pero mis amigos me llaman Juancho. Empecé en el
      mundo de la programación a los 31 años, y aunque al principio sentía
      miedo, descubrí que me apasiona programar. Disfruto crear cosas a través
      del código, y esa capacidad de crear es lo que más me motiva a seguir
      programando.
    </p>

    <p>
      Desarrollador Web Full Stack especializado en el <strong
        >stack MERN (MongoDB, Express.js, React y Node.js).</strong
      > Apasionado por crear aplicaciones web escalables y centradas en el usuario.
      Me destaco por mi capacidad para resolver problemas, mi enfoque proactivo y
      mi habilidad para trabajar en equipo.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
